version: '3.8'
services:
  db:
    image: postgres:14
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: domport_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: